.cartItem {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: var(--dominant);
  color: var(--sub-color-1);
}

.cartItem__imgContainer {
  width: 30%;
  background-color: var(--sub-color-3);
  padding: 10px;
  display: flex;
  align-items: center;
}

.cartItem__img {
  width: 100%;
}

.cartItem__details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartItem__name {
  font-size: 25px;
}

.cartItem__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cartItem__button--plus {
  color: var(--sub-color-2);
}

.cartItem__button--minus {
  color: rgb(255, 81, 81);
}

.cartItem__button--delete {
  color: var(--sub-color-3);
}

@media screen and (min-width: 768px) {
  .cartItem {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .cartItem {
    width: 40%;
  }
  .cartItem__name {
    font-size: 35px;
  }
  .cartItem__price {
    font-size: 25px;
  }
}
