.cart {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 15%;
  margin-bottom: 20%;
}

.cart__list {
  width: calc(100% - 10px);
  margin: 0 auto;
}

.cart__total {
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 80%;
  background-color: var(--dominant);
  color: var(--sub-color-1);
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.cart__checkout {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 80%;
    margin: 0 auto;
  }

  .cart__checkout {
    font-size: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .cart {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
  }
  .cart__list {
    width: 50%;
  }
  .cart__total {
    font-size: 35px;
    padding: 20px;
    width: 20%;
    position: static;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .cart__checkout {
    font-size: 35px;
    margin-top: 20px;
  }
}
