.item {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 450px;
  color: var(--sub-color-1);
  background-color: var(--dominant);
}

.item__imgContainer {
  width: 100%;
  background-color: var(--sub-color-3);
  padding: 10px;
  min-height: 222px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item__img {
  width: 100%;
}

.item__details {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.item__name {
  color: var(--text-blue-color);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item__price {
  color: var(--text-blue-color);
  font-size: 25px;
}

.item__adminBtns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 425px) {
  .item {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .item {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .item {
    width: 40%;
  }
  .item__imgContainer {
    min-height: 330px;
  }
}
@media screen and (min-width: 1440px) {
  .item {
    width: 30%;
  }
  .item__name {
    font-size: 25px;
  }
  .item__imgContainer {
    min-height: 460px;
  }
}

@media screen and (min-width: 1920px) {
  .item {
    width: 20%;
  }
  .item__imgContainer {
    min-height: 300px;
  }
}
