.item {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 450px;
}

.item__imgContainer {
  width: 100%;
  background-color: rgb(218, 218, 218);
  padding: 10px;
  min-height: 222px;
  display: flex;
  align-items: center;
}

.item__img {
  width: 100%;
}

.item__details {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.item__name {
  color: var(--text-blue-color);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item__price {
  color: var(--text-blue-color);
  font-size: 25px;
}

.item__button {
  background-color: transparent;
  border: 1px solid black;
  font-family: inherit;
  font-size: 20px;
  padding: 15px 20px;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.item__adminBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 425px) {
  .item {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .item {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .item {
    width: 30%;
  }
  .item__imgContainer {
    min-height: 330px;
  }
}
@media screen and (min-width: 1440px) {
  .item__imgContainer {
    min-height: 460px;
  }
}

@media screen and (min-width: 1920px) {
  .item {
    width: 20%;
  }
  .item__imgContainer {
    min-height: 300px;
  }
}
