.nav {
  padding: 5px 10px 5px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 5;
}

.nav__burger {
  background-color: transparent;
  border: none;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.nav__link {
  text-decoration: none;
  color: #929393;
}

.link__group {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background-color: white;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
}

.link__group.show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.nav__close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgb(252, 143, 143);
}

.link__group .nav__link {
  margin-bottom: 20px;
}

.selected {
  color: rgb(83, 145, 165);
}

.nav__link--home {
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 5px 0;
}

.nav__link--logout {
  margin-top: 50px;
}

.nav__cart {
  display: flex;
  align-items: center;
}

.nav__count {
  font-size: 20px;
  height: 30px;
  width: 30px;
  background-color: rgb(179, 179, 179);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
