.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10% 0 10%;
}

.hero-left {
  flex: 1;
}

.hero-left h1 {
  color: var(--heading);
  font-size: 58px;
}

.hero-right {
  flex: 1;
  display: grid;
  place-items: center;
}

.hero-right .profile {
  width: 349px;
  height: 349px;
  border-radius: 50%;
  border: var(--heading) 10px solid;
}
