.contact {
  width: 100%;
  padding: 1rem;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

.contact__container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1rem 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.contact__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  color: var(--theme-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.contact p {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact__formContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.form__overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 25, 0.9);
}

.contact__form {
  max-width: 600px;
  z-index: 10;
  background-color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 6rem;
  position: relative;
}

.contact__form p label {
  display: block;
  font-size: 1.5rem;
  font-family: inherit;
  text-align: left;
}
.contact__form p input {
  display: block;
  font-size: 1.5rem;
  padding: 5px;
  width: 100%;
  font-family: inherit;
}
.contact__form p textarea {
  min-height: 100px;
  font-size: 1.5rem;
  padding: 5px;
  width: 100%;
  font-family: inherit;
  margin-bottom: 10px;
}

.form__close {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.form__title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px 0;
  color: var(--theme-color);
}

.form__submit {
  width: 50%;
}

.contact__socials {
  align-self: flex-end;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.socials__link {
  font-size: 3rem;
  text-decoration: none;
  color: var(--theme-color);
}

@media only screen and (min-width: 600px) {
  .contact {
    margin-left: 5rem;
    width: calc(100% - 5rem);
  }
}
