body {
  background-color: rgba(70, 130, 180, 0.5);
}

#header {
  height: 100vh;
}

#query,
#reviews,
#about-vacseen,
#benefits {
  background-color: rgba(0, 0, 0, 0.4);
}

#about-vacseen,
#benefits {
  min-height: 500px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url('../images/mobile_size/header_img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 320px;
}

.login {
  height: 100vh;
  max-width: 320px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.contact-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-background {
  height: 100vh;
}

.contact-container {
  background-color: rgba(0, 0, 0, 0.4);
}

.register-container {
  min-width: 300px;
  max-width: 340px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 2001;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* mobile medium */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  #wash {
    content: url('../images/mobile_size/375/wash\ hands.jpg');
  }
  #mask {
    content: url('../images/mobile_size/375/face-mask.jpg');
  }
  #social-distancing {
    content: url('../images/mobile_size/375/social-distancing.jpg');
  }
  #sleep {
    content: url('../images/mobile_size/375/sleep.jpg');
  }
}

/* mobile large */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  #wash {
    content: url('../images/mobile_size/425/wash\ hands.jpg');
  }
  #mask {
    content: url('../images/mobile_size/425/face-mask.jpg');
  }
  #social-distancing {
    content: url('../images/mobile_size/425/social-distancing.jpg');
  }
  #sleep {
    content: url('../images/mobile_size/425/sleep.jpg');
  }
  #about-vacseen,
  #benefits {
    padding: 1rem 2rem !important;
    min-height: 450px;
  }
}

/* tablet */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
      url('../images/tablet/header_img.jpg');
  }
  #jeff {
    content: url('../images/tablet/jeff.jpg');
  }
  #elon {
    content: url('../images/tablet/elon.jpg');
  }
  #simon {
    content: url('../images/tablet/simon.jpg');
  }
  #gates {
    content: url('../images/tablet/gates.jpg');
  }
  #qr-code {
    content: url('../images/tablet/qr-code.png');
  }
  #wash {
    content: url('../images/tablet/wash\ hands.jpg');
  }
  #mask {
    content: url('../images/tablet/face-mask.jpg');
  }
  #social-distancing {
    content: url('../images/tablet/social-distancing.jpg');
  }
  #sleep {
    content: url('../images/tablet/sleep.jpg');
  }
  #about-vacseen,
  #benefits {
    padding: 1rem 4rem !important;
    min-height: 400px;
  }
}

/* laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
      url('../images/laptop/header_img.jpg');
  }
  #jeff {
    content: url('../images/laptop/jeff.jpg');
  }
  #elon {
    content: url('../images/laptop/elon.jpg');
  }
  #simon {
    content: url('../images/laptop/simon.jpg');
  }
  #gates {
    content: url('../images/laptop/gates.jpg');
  }
  #qr-code {
    content: url('../images/tablet/qr-code.png');
  }
  #about-vacseen,
  #benefits {
    padding: 1rem 5rem !important;
    min-height: 400px;
  }
}

/* large screens */
@media only screen and (min-width: 1025px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
      url('../images/high_res/header_img.jpg');
  }
  #jeff {
    content: url('../images/high_res/jeff.jpg');
  }
  #elon {
    content: url('../images/high_res/elon.jpg');
  }
  #simon {
    content: url('../images/high_res/simon.jpg');
  }
  #gates {
    content: url('../images/high_res/gates.jpg');
  }
  #qr-code {
    content: url('../images/tablet/qr-code.png');
  }
  #wash {
    content: url('../images/laptop/wash\ hands.jpg');
  }
  #mask {
    content: url('../images/laptop/face-mask.jpg');
  }
  #social-distancing {
    content: url('../images/laptop/social-distancing.jpg');
  }
  #sleep {
    content: url('../images/laptop/sleep.jpg');
  }
  .contact-footer {
    margin-top: 3rem;
  }
  #about-vacseen,
  #benefits {
    padding: 1rem 9rem !important;
    min-height: 400px;
  }
}
