:root {
  --bug: #729f3f;
  --dark: rgb(61, 61, 61);
  --electric: #eed535;
  --fairy: #fdb9e9;
  --fighting: #d56723;
  --fire: #fd7d24;
  --flying: #3dc7ef;
  --ghost: #7b62a3;
  --grass: #9bcc50;
  --ground: #ab9842;
  --ice: #b3e1f0;
  --normal: #a4acaf;
  --poison: #b97fc9;
  --rock: #a38c21;
  --steel: #9eb7b8;
  --water: #4592c4;
}

@font-face {
  font-family: 'flexo-demi';
  src: url('./assets/Flexo-CapsDEMO.otf');
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'flexo-demi', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}
