.pokeList {
  text-align: center;
  padding: 0 10px 30px;
  padding-top: 135px;
}

@media screen and (min-width: 768px) {
  .pokeList {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1920px) {
  .pokeList {
    max-width: 80%;
    margin: 0 auto;
  }
}
