.pokemonData {
  border: 1px solid black;
  margin: 0 10px;
  padding: 10px;
  background-color: rgba(122, 122, 122, 0.9);
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  max-height: 80vh;
}

.pokemonData__name {
  font-size: 30px;
}

.pokemonData__id {
  font-size: 20px;
  color: black;
}

.pokemonData__img {
  margin: 10px 0;
}

.pokemonData__link {
  width: 100%;
  height: 100%;
  color: white;
  display: block;
  text-decoration: none;
}

.pokemonData__types {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.pokemonData__detailsHead {
  margin-bottom: 5px;
  font-size: 20px;
}

.pokemonData__description {
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .pokemonData {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .pokemonData__header {
    width: 100%;
  }

  .pokemonData__img {
    width: 50%;
  }

  .pokemonData__details {
    width: calc(50% - 10px);
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
  }

  .pokemonData__detailsHead,
  .pokemonData__types {
    width: 100%;
  }
  .pokemonData__detailsHead {
    margin-bottom: -50px;
  }
}

@media screen and (min-width: 1920px) {
  .pokemonData {
    padding: 30px;
  }
  .pokemonData__types .pokeTypeBtn {
    width: 15%;
    margin-left: 15px;
    margin-top: 10px;
  }

  .pokemonData__detailsHead {
    margin-bottom: -75px;
  }

  .pokemonData__types {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .pokemonData__description {
    width: 70%;
  }
}
