.project {
  width: 100%;
  padding: 5px;
}
.project__image {
  width: 100%;
  object-fit: cover;
}

.project h3 {
  font-size: 2rem;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .project__image {
    height: 224px;
  }
}
